{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "eqeqeq": ["error", "smart"],
    "quotes": ["error", "single"],
    "curly": ["error", "all"],
    "no-console": ["error", { "allow": ["error"] }],
    "one-var": ["error", "never"],
    "no-trailing-spaces": 0,
    "no-return-assign": 0,
    "no-else-return": 0,
    "no-unused-vars": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-lone-blocks": 0,
    "valid-jsdoc": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "react/jsx-wrap-multilines": 2,
    "react/no-string-refs": 0
  },
  "plugins": [
    "import",
    "react"
  ],
  "globals": {
    "Promise": true,
    "Proxy": true,
    "Reflect": true
  }
}
